



<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
    <% end %>


<div class="container">
  <form class="form-horizontal">

  <div class="row">
      <div class="col-md-offset-1 col-md-1">
      <%= f.label :description %></div>
      <div class="col-md-offset-1">
      <%= f.text_field :description %></div>
      <br>
      <div class="col-md-offset-1 col-md-1">
      <%= f.label :due_date %></div>
      <div class="col-md-offset-1">
      <%= f.date_field :duedate %></div>
  </div>

    <br>



    <div class="col-md-offset-2 col-md-4">
      <button class= "btn btn-primary"><%= f.submit %></button>
      <button class="btn btn-default"><%= link_to 'Cancel', tasks_path %></button>
    </div>




    <br>
    <br>
    <br>
    <div class="col-md-offset-2 col-md-4">
      <%= f.check_box :checkbox %>
      <span>Task has been completed.</span>
    </div>

  </form>
</div> <!-- closes container -->


<% @pagetitle = "New Task"%>



    <br>
    <br>
    <% end %>
