
<ol class ="breadcrumb">
<li>
<a href="/tasks">Tasks</a>
</li>
<li class="active">New Task</li>
</ol>


<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
    <% end %>


<div class="container">
  <div class="row">

  <form class="form-horizontal">
    <div class="col-md-offset-1 col-md-1">
      <%= f.label :description %></div>
      <div class="col-md-offset-1">
       <%= f.text_field :description %></div><br>
       <div class="col-md-offset-1 col-md-1">
        <%= f.label :due_date %></div>
        <div class="col-md-offset-1">
        <%= f.date_field :due_date %></div>
</div>
    <br>


    <div class="col-md-offset-2 col-md-4">
      <button class= "btn btn-primary"<%= f.submit %>Create Task</button>
      <a class="btn btn-default" href="/tasks">Cancel</a>
    </div>

    <% end %>



    <br>
    <br>
    <div class="col-md-offset-2 col-md-4">
      <div class="checkbox">
        <label><input type="checkbox"> Task has been completed.</label>
      </div>
    </div>

  </div>


  </form>
    <br>
    <br>
