


<div class="page-header">
  <div class="pull-right">
    <%= link_to 'New Task', new_project_task_path(@project), class: "btn btn-info" %>
  </div>
  <h1>Tasks for <%= @project.name %></h1>
</div>

<ol class ="breadcrumb">
  <li>
    <%= link_to "Projects", projects_path %>
  </li>
  <li>
  <%= link_to @project.name, project_path(@project) %>
  </li>
    <li class="active">Tasks</li>
</ol>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Description</th>
      <th>Completed?</th>
      <th>Due Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>


  <tbody>



    <% @tasks.each do |task| %>
      <tr>
        <td><%= link_to task.description, project_task_path(@project, task) %> &nbsp; <span class='badge'><%= task.comments.count %></span></td>
        <td><%= task.cbox %></td>
        <td><%= task.due_date %></td>


        <td><div class="text-right" style="border-top: none; padding:0px">
          <!-- <%= link_to 'Show', project_task_path(@project, task), class: "btn btn-success" %> -->
          <%= link_to 'Edit', edit_project_task_path(@project, task), class: "btn btn-info" %>
        <!-- <%= link_to 'Destroy', project_task_path(@project, task), class: "btn btn-danger", method: :delete, data:
        { confirm: 'Are you sure?' } %> -->
        &nbsp;&nbsp;&nbsp;&nbsp;<%= link_to '', project_task_path(@project, task), class: "glyphicon glyphicon-remove", id: "glyphy",
          style: "margin-left: -5px; vertical-align: middle; border:0px;", method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>

        </div></td>

    </tr>






    <% end %>


  </tbody>
</table>
