<h1><%= @task.description %></h1>



<!-- <p id="notice"><%= notice %></p> -->




<ol class ="breadcrumb">
  <li>
    <a href="/tasks">Tasks</a>
  </li>
  <li class="active"><%= @task.description %></li>
</ol>



<p>
  <!-- <strong>Description:</strong> -->
</p>


<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
