<h1><%= @task.description %></h1>

<hr>

<!-- <p id="notice"><%= notice %></p> -->


<ol class ="breadcrumb">
  <li>
    <%= link_to "Projects", projects_path %>
  </li>
  <li>
  <%= link_to @project.name, project_path(@project) %>
  </li>
  <li>
  <%= link_to "Tasks", project_tasks_path(@project) %>
  </li>
  <li class="active"><%= @task.description %></li>
</ol>





<p>
  <!-- <strong>Description:</strong> -->
</p>


<%= link_to 'Edit', edit_project_task_path(@project, @task) %> |
<%= link_to 'Back', project_path(@project) %>
