

<div class="well col-md-offset-4 col-md-4">
<div class="page-header" style="border-bottom:1px solid black; margin-top:-15px">




<h1>Sign up</h1>

</div>
<% if @user.errors.any? %>
  <% @form_errors = @user.errors.count %>
  <% @the_thing_with_errors = "user" %>
  <% @full_message_errors = @user.errors.full_messages %>
<%= render '/shared/errors' %>
<% end %>


<%= form_for @user, url: signup_path do |f| %>

<!-- Note that this form uses "form-control" while my sign-in page does not... this is on purpose so
I can examine the differences beteween them... -->

  <div class="form-group">
    <div class = "row">
    <div class="col-md-1 text-nowrap" >
    <%= f.label :first_name %></div></div>
    <div class = "row">
    <div class="col-md-12" style="padding-top:5px">
    <%= f.text_field :first_name, class: 'form-control', :size => 30 %></div></div>
  </div>


<div class="form-group">
  <div class = "row">
    <div class="col-md-1 text-nowrap" >
    <%= f.label :last_name %></div></div>
    <div class = "row">
    <div class="col-md-12" style="padding-top:5px">
    <%= f.text_field :last_name, class: 'form-control', :size => 30  %></div></div>
  </div>


  <div class="form-group">
    <div class = "row">
      <div class="col-md-1 text-nowrap" >
      <%= f.label :email %></div></div>
      <div class = "row">
      <div class="col-md-12" style="padding-top:5px">
      <%= f.email_field :email, class: 'form-control', :size => 30  %></div></div>
    </div>


<div class="form-group">
  <div class = "row">
    <div class="col-md-1 text-nowrap" >
    <%= f.label :password %></div></div>
    <div class = "row">
    <div class="col-md-12" style="padding-top:5px">
    <%= f.password_field :password, class: 'form-control', :size => 30  %></div></div>
  </div>


<div class="form-group">
  <div class = "row">
    <div class="col-md-6" >
    <%= f.label :password_confirmation, "Confirm password" %></div></div>
    <div class = "row">
    <div class="col-md-12" style="padding-top:5px">
    <%= f.password_field :password_confirmation, class: 'form-control', :size => 30  %></div></div>
  </div>

<br>

<div class="form-group">
  <div class="col-md-offset-2">
    &nbsp;<%= f.submit "Sign up", class: "btn btn-primary" %>
    &nbsp;&nbsp;<%= link_to 'Cancel', users_path, class: "btn btn-default" %></div>
</div>

<% end %>

</div>  <!-- closes well  -->

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
