<% if @project.errors.any? %>
  <% @form_errors = @project.errors.count %>
  <% @the_thing_with_errors = "project" %>
  <% @full_message_errors = @project.errors.full_messages %>
<%= render '/shared/errors' %>
<% end %>


<%= form_for(@project) do |f| %>



<!-- Note to me JQ: for some reason yet unknown to me, you can't put the following form class above
the form_for notation or else your buttons won't register your actions. Huh. -->


      <div class="form-group">
        <div class="col-md-offset-1 col-md-1">
        <%= f.label :name %></div>
        <div class="col-md-5">
        <%= f.text_field :name, :size => 50 %>
        </div>
      </div>

    <br>
    <br>


    <div class="form-group">
      <div class="col-md-offset-2">
        <%= f.submit class: "btn btn-primary" %>
        <%= link_to 'Cancel', projects_path, class: "btn btn-default" %></div>
    </div>

<br>

    <% end %>
