



<!-- <p id="notice"><%= notice %></p> -->


<div class="page-header">
  <div class="pull-right">
    <a href="/projects/new" <button type="button" class="btn btn-info">New project</button></a>
  </div>
  <h1>Projects</h1>
</div>



<table class="table table-striped">
  <thead>
    <tr>
      <th class="col-md-2">Name</th>
      <th class="col-md-1">Tasks</th>
    </tr>
  </thead>


  <tbody>


    <% if current_user.admin? %>

    <% @projects.each do |project| %>
      <tr>
        <td><%= link_to project.name, project %></td>
        <td><%= link_to project.tasks.count, project_tasks_path(project) %></td>

        <!-- <td><%= link_to 'Show', project %></td> -->
        <td><div class="text-right">
          <!-- , class: "btn btn-info" -->
        </div>
        </td>

    </tr>
    <% end %>

    <% else %>

    <% current_user.projects.each do |project| %>
      <tr>
        <td><%= link_to project.name, project %></td>
        <td><%= link_to project.tasks.count, project_tasks_path(project) %></td>

        <!-- <td><%= link_to 'Show', project %></td> -->
        <td><div class="text-right">
          <!-- , class: "btn btn-info" -->
        </div>
        </td>

    </tr>
    <% end %>

    <% end %>


  </tbody>
</table>




<!-- <%= link_to 'New Project', new_project_path %> -->
