<h1><%= @project.name %>
<%= link_to 'Edit', edit_project_path(@project), class: "btn btn-info pull-right" %>
<%= link_to 'Destroy', project_path(@project), class: "btn btn-danger pull-right",
method: :delete, data: { confirm: 'Are you sure?' } %>
</h1>
<hr>

<!-- <p id="notice"><%= notice %></p> -->




<!-- <ol class ="breadcrumb">
  <li>
    <a href="/projects">Projects</a>
  </li>
  <li class="active"><%= @project.name %></li>
</ol> -->






<p>
  <!-- <strong>Description:</strong> -->
</p>

<!--
<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %> -->
