
  <div class="page-header">
    <h1>About</h1>
  </div>


  <div class="row">
    <div class="col-md-4">
      <img alt="About" class="img-responsive" src="https://g-camp.herokuapp.com/assets/about-9493fb61ab29b179ac6398e6e514bd12.jpg" />
    </div>

    <div class="col-md-8">
      <p>We are dedicated to the makers, the creators, the risk-takers.</p>
      <p>We wake up in the middle of the night and furiously write down ideas about how to make your online life better.</p>
      <p>Human collaboration and communication is what drives us, and it infuses every feature of gCamp.</p>
    </div>
  </div>
  <br>


  <div class="col-md-4">

  <h4><b>gCamp is extremely active. Check out our killer stats below!</b></h4>
  <h3><text style="color:maroon"><%= Project.all.count %></text> Projects! <text style="color:maroon"><%= Task.all.count %></text> Tasks! <text style="color:maroon">
  <%= Membership.all.count %></text> Project Members! <text style="color:maroon"><%= User.all.count %></text> Users!
  <text style="color:maroon"><%= Comment.all.count %></text> Comments!</h3>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
