<!DOCTYPE html>
<html>
<head>
  <title>GSchoolProjects -- Josh Quesenberry loves Shelby and thinks she's the best in the whole world</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %> <%= csrf_meta_tags %>
</head>
<body>


  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <% if not_logged_in? %>
        <a class="navbar-brand" href="/">gCamp</a>
        <% else %>
        <a class="navbar-brand" href="/projects">gCamp</a>

      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Projects <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <% current_user.projects.each do |project| %>
            <li><%= link_to project.name, project %></li>
            <% end %>
            <li class="divider"></li>
            <li><%= link_to "New Project", new_project_path %></li>
          </ul>
        </li>
      </ul>
        <ul class="nav navbar-nav">
          <li><%= link_to "Users", users_path %></li>
        </ul>
        <% end %>
      </div>

      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
            <% if logged_in? %>
            <li class="nameofloggedinuser"><%= "#{current_user.full_name}" %></li>
              <li><%= link_to "Sign Out", logout_path %></li>
            <% else %>
              <li><%= link_to "Sign In", login_path %></li>
              <li><%= link_to "Sign Up", signup_path %></li>
            <% end %>
          </ul>
      </div> <!-- closes navbar-collapse -->
    </div> <!-- closes container -->
  </nav>







<div class="container">


  <% flash.each do |type, message| %>
  <% if type == "notice" %>
  <b>
    <center>
      <div class="alert alert-success">
        <%= message %>
      </div>
    </center>
  </b>
  <% elsif type == "alert" %>
  <b>
    <center>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    </center>
  </b>
  <% end %>
  <% end %>




  <%= yield %>









<footer style="border-top:1px solid black">
  <br>
  <div class="row">
    <% if logged_in? %>
    <div class= "col-md-offset-3 col-md-6 text-center">
      <% else %>
      <div class= "col-md-6">
        <% end %>

      <a href="/about">About</a>
      |
      <a href="/terms">Terms</a>
      |
      <a href="/faq">FAQ</a>
      |
      <a href="/users">Users</a>
      |
      <a href="/projects">Projects</a>
    </div>

    <% if not_logged_in? %>

    <div class="col-md-6 text-right">
      <a href="https://www.linkedin.com">
        <img alt="Linked in" class="img-footer" src="https://g-camp.herokuapp.com/assets/linked_in-f852478f8950eb3fca3367cb545aaa52.jpg" />
      </a>&nbsp
      <a href="https://github.com/">
        <img alt="Github" class="img-footer" src="https://g-camp.herokuapp.com/assets/GitHub-de8164cc6a609537cfdab331e002ebb3.png" />
      </a>&nbsp
      <a href="https://twitter.com/">
        <img alt="Twitter" class="img-footer" src="https://g-camp.herokuapp.com/assets/Twitter-0c8c529fb7181e05ab5c30416e3a70fa.png" />
      </a>&nbsp
      <a href="https://students.gschool.it/">
        <img alt="Galvanize g" class="img-footer" src="https://g-camp.herokuapp.com/assets/galvanize-g-b3da24895ed7d4fd33c43d9226c16242.png" />
      </a>
    </div>
    <% end %>

  </div> <!-- closes row -->
</footer>

</div> <!-- closes container -->

<br>
<br>


      <!-- Bootstrap core JavaScript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <script src="../../dist/js/bootstrap.min.js"></script>
      <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
      <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>



</body>
</html>
